@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* общий стиль */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h2{
    color: black;
    font-size: 50px;
}

p {
    font-size: 16px;
    color: black;
}

/*Стиль для изображения*/
img {
    display: block; 
    margin: 8px auto;
    width: 70%;
    height: auto;
}

/*Стиль для таблицы*/
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px 15px;
    border: 1px solid grey;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: 700;
}

/*Стили для ссылок*/
a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: red;
}

a.active {
    font-weight: bold;
    color: darkred;
}


/*Стили header и footer*/
header {
    background-color: black;
    padding: 40px;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 80px;
    font-weight: 700; 
}

footer {
    background-color: black;
    color: white;
    margin-top: auto;
    width: 100%;
}

footer h2 {
    color: white;
}

footer p {
    color: white;
    font-size: 20px;
}

/*Стили основного контента*/
main {
    padding: 30px 20px;
    max-width: 100%;
    margin: 0 auto;
}

/*Стили секций*/
section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    padding: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* ≤800px */
@media (max-width: 800px) {
    section:first-of-type img {
        max-width: 100%;
    }
    nav ul {
        justify-content: space-between;
    }
    .images {
        max-width: 100%;
    }
}

/* ≤600px */
@media (max-width: 600px) {
    header h1 {
        font-size: 50px;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    nav a {
        font-size: calc(16px + 4px);
    }
    section:first-of-type img {
        width: 100%;
    }
    table {
        font-size: 18px;
    }
    th, td {
        padding: 10px;
        font-size: calc(18px - 2px);
    }
    section {
        padding: 20px;
    }
    .images {
        width: auto;
    }
}

/* ≤400px */
@media (max-width: 400px) {
    table {
        font-size: 16px;
    }
    th, td {
        padding: 8px;
        font-size: calc(16px-2px);
    }
    header h1 {
        font-size: 40px;
    }
    nav a {
        font-size: 25px;
        padding: 8px 15px;
    }
    section {
        padding: 15px;
    }
    
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}